*{
    margin: 0px;
}
@font-face {
    font-family: BlackRose;
    src: url(./font/BlackRose-2Onld.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: BlackRose;
    margin:0;
}
header{
    display: block;
    height: 100vh;
    margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 7rem;
}
h3{
    font-size: 2rem;
}
footer{
    background: #A75502;
    padding: 5rem 1rem;
    margin: 0;
}
footer p{
    color: white;
    text-align: center;
    margin-bottom: 0;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}
/*
=============== 
Classes
===============
*/
.bg-img{
    object-fit: fill;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.wheel-container{
    z-index: 1;
    position: fixed;
}
.wheel{
    height: 12rem;
}
.nav-center{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 2rem;
}
.nav-header{
    display: flex;
}
.logo{
    height: 5rem;
    border-radius: 50%;
}
.link-container{
    height: auto !important;
}
.links{
    display: flex;
}
.links a{
    display: block;
    margin: 0 1rem;
    padding: 0;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    color: #A75502;
}
a:hover {
    color: #b54a36;
}
.title{
    width: 40vw;
    margin-left: 23rem;
    margin-top: 15rem;
}
.heading,.sub-heading{
    margin:0 auto;
    color: #A75502;
}
.sub-heading{
    margin-top: 1rem;
}
.projectsBtn,.contactBtn{
    margin:2rem auto;
    font-size: 1.5rem;
}
.projectsBtn{
    background: transparent;
    border: 5px solid #A75502;
    border-radius: 12px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 1.5rem;
    padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    font-family: BlackRose;
    transition: all 300ms;
}
.projectsBtn:hover{
    background: #A75502;
    color:white;
}
.contactBtn{
    background: #b54a36;
    border: 5px solid #b54a36;
    color:white;
    border-radius: 12px;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 1.5rem;
    padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    font-family: BlackRose;
    transition: all 300ms;
}
.contactBtn:hover{
    background: transparent;
    color:black;
}
.pirate-img{
    position: absolute;
    right: 2rem;
    top: 20rem;
    object-fit: fill;
}
.pirateImg{
    height: 40rem;
}
.section{
    height: 100vh;
}
.sectionHeading{
    font-size: 4.5rem;
    text-align: center;
    margin-top: 0rem;
    color: #A75502;
}
.cardContainer{
    justify-content: space-between;
    margin-top: 10rem;
}
.card1,.card2,.card3{
    /* background-color: #2B2B2B; */
    display: inline-block;
    height: 40vh; 
    width: 35rem;
    margin-right: 2rem;
    border-radius: 2px;
    position: relative;
    left: 4.3rem;
    border-radius: 10px;
    border: #2B2B2B solid  ;
    object-fit:contain;
    background-size:cover;
    background-repeat: no-repeat;
    transition: transform 0.2s;
    max-height: 100%;
    max-width: 100%;
}

.card1{
    background-image: url("./images/tindog.png");
    
}
.card2{
    background-image: url("./images/Grocery.png");
}
.card3{
    background-image: url("./images/Simon.png");
}
/* .card1:hover,.card2:hover,.card3:hover{
    box-shadow: 5px 6px #c5c5c5;
    transform: scale(1.2);
    z-index: 2;
} */

/*
=============== 
IDs
===============
*/
